.btn-start {
  width: 20rem;
  height: 4rem;
  font-size: 1.8rem;
  border-radius: 1rem;
}

.ant-modal-title {
  text-align: center;
}

.ant-modal-footer > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ant-modal-footer > div > .ant-btn {
  width: 10rem;
}